.content-grid {
    display:grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 5vw 95vw;
    grid-template-rows: 5vh 95vh;

    .search-bar-container {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: -1; 
        // border: 1px solid red;

    }
    .side-bar-container {
        background-color: grey;
        grid-row-start: 2;
        grid-row-end: -1;
        // border: 1px solid red;
        // min-width: 50px;

    }
    .content {
        // grid-column:start
        grid-row-start: 2;
        grid-row-end: -1;
        display: flex;
        // border: 1px solid red;
        * {
            // border: 1px solid red;

        }

        

    }


    
}
li {
    list-style: none;
}