.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 10;
  }
  
  .modal-child {
    position: absolute;
    bottom: -60px;
    left:  180px;
    height: 150px;
    width: 200px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    
  }
  .modalMenu {
    padding: 5px;
    margin: 10px;
    cursor: pointer
  }

  .modalMenu:hover {
    background-color: #1264a3;
    color: white;
  }

