// Overall page 
/// Header
//// Logo
//// Sign up 
/// Form Area
//// H1
//// "WE suggest using the email address
//// Inputs 
//// Button 
//// Footer

.getting-started {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
}

.login-form-header {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}


.logo {
    
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    height: 25px;
}

.sign-up-link {
    
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    font-size: small;
}

.sign-up-link a {
    text-decoration: none;
    color: blue

}
.sign-up-link p {
    color: grey;
    margin: 0px;
}

.errors {
    list-style: none;
    color: red 
}

.login-form {

    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-items: around;
    /* font-family:  Roboto; */

}
.login-form {
    h1 {
        font-size: 48px;
        margin: 0px;
    }
    
    p {
        margin: 0px;
    }
   
    button {

        background-color: #4A154BE6;
        color: white;
        
        font-weight: 700;
        font-size: large;
        border-radius: 5%;
    }

    input, button {
        padding: 10px;
        width: 100%;
        width: 400px;
        height: 45px;
        box-sizing: border-box;
    }

} 



.login-input-container {
    margin: 35px;
    display:flex;
    flex-direction: column;
    gap: 15px;

}


