.search-bar {
    /* width: 100%; */
    background-color: #d7d8da;
    /* margin: 0px; */
    /* box-sizing: border-box; */
    
    height: 100%;
    display: flex;
    align-items: center;
    padding:0px;
    input {
        // height: 75%;
        margin: 5px;
        margin-left: 33vw;

        
        width: 280px;
        // border: 1px solid red;
        border: 0;
        padding: 5px;
        border-radius: 5px;
        background-color: rgba(173,172,175,1)
    }
}
